<header>
  <div class="text">
    <h1 class="title">Alan Ayala</h1>
    <h3 class="subtitle">Javascript developer</h3>
  </div>
  <div class="skew-down"></div>
</header>
<main>

  <section class="about">
    <div class="container">
      <h2 class="about-me">About me</h2>
      <p class="paragraph">
        Hello, I am Alan, I am 25 years old, I am currently living in
        Merida, Yucatan, I like to program and play chess, I have been
        studying programming at home for a year and I am looking for an
        opportunity to develop and improve my skills in an IT company, I am
        interested in developing backend with javascript, in my spare time I
        like to watch web application tutorials, I don't have work
        experience but I have the best disposition to lock and learn new
        technologies, I don't have a university degree and I have a basic
        knowledge of English, my plans In the future they are studying
        mathematics and competing in chess at a national level.
      </p>
    </div>
  </section>

  <section class="gallery">
    <div class="skew-up"></div>
    <div class="images none">
      <img src="/statics/assets/images/1.jpg" alt="" />
    </div>
    <div class="images">
      <img src="/statics/assets/images/3.jpg" alt="" />
    </div>
    <div class="images">
      <img src="/statics/assets/images/2.jpg" alt="" />
      <div class="over">
        <h2>Alan Ayala</h2>
        <div></div>
      </div>
    </div>
    <div class="images">
      <img src="/statics/assets/images/4.jpeg" alt="" />
    </div>
    <div class="images none">
      <img src="/statics/assets/images/5.jpeg" alt="" />
    </div>
    <div class="skew-down"></div>
  </section>

  <section>
    <div class="container">
      <h2 class="about-me">Knowledge and skills</h2>
      <div class="cards">
        <div class="card">
          <img src="/statics/assets/images/html-tag.jpg" alt="" />
          <h4>Frontend technologies</h4>
          <p>Frontend technologies</p>
          <p>HTML, CSS, JS, React, Web API´s, PWA, SPA</p>
        </div>
        <div class="card">
          <img src="/statics/assets/images/html-tag.jpg" alt="" />
          <h4>Backend technologies</h4>
          <p>NodeJS, Express, MongoDB, MySQL, API REST</p>
        </div>
        <div class="card">
          <img src="/statics/assets/images/html-tag.jpg" alt="" />
          <h4>Other technologies</h4>
          <p>Linux, Windows, Terminal, Git, Github, Typescript</p>
        </div>
      </div>
    </div>
  </section>

  <section class="landing">
    <div class="skew-up"></div>
    <div class="container">
      <h2 class="courses-title">Courses</h2>
      <div class="cards" id="courses-container">

      </div>
      <button class="button" id="more-courses">More courses</button>
    </div>
  </section>

</main>
<footer>
  <div class="container">
    <h2 class="footer-title">Contact me</h2>
    <div class="footer">
      <form action="/send-email" method="POST">
        <input type="text" name="name" placeholder="Name" required/>
        <input type="email" name="email" placeholder="Email" required/>
        <textarea
          name="message"
          cols="30"
          rows="10"
          placeholder="Ingrese su mensaje..."
          required
        ></textarea>
        <div class="submit">
          <input type="submit" value="Enviar" />
        </div>
      </form>
    <div class="social">
      <p><a href="https://www.linkedin.com/in/alan-de-jesus-ayala-galvan-649440194/" target="_blank"><img src="/statics/assets/svg/linkedin-icon.svg" class="icon" alt="linkedin"> Linkedin</a></p>
      <p><a href="https://github.com/aaga941228" target="_blank"><img src="/statics/assets/svg/github-icon.svg" class="icon"  alt="github"> Github</a></p>
    </div>
    </div>
  </div>
</footer>
<div class="go-top-container">
  <div class="go-top-button">
    <img src="/statics/assets/svg/subir.svg" alt="">
  </div>
</div>