<div class="container-fluid m-5">
  <h2>Admins</h2>
  <form class="form-inline" action="/admin/login" method="POST">
    <div class="row">
      <div class="col">
        <label for="staticEmail2" class="sr-only">User</label>
        <input type="text" class="form-control-plaintext" id="staticEmail2" name="user" placeholder="user">
      </div>
      <div class="col">
        <label for="inputPassword2" class="sr-only">Password</label>
        <input type="password" class="form-control" id="inputPassword2" name="password" placeholder="password">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
      </div>
    </div>
  </form>
</div>