<div class="jumbotron">
  <h1 class="display-4">Thanks for your message!</h1>
  <p class="lead">I will answer you as soon as i can.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">return to the main view</a>
  </p>
</div>